<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Merchants</h1>

  <%= turbo_stream_from "merchants" %>

  <%= turbo_frame_tag "merchant_form" do %>
    <%= render 'form', merchant: @merchant %>
  <% end %>

  <%= turbo_frame_tag "merchants" do %>
    <%# render(MerchantComponent.with_collection(@merchants)) %>
    <%= render @merchants %>
  <% end %>

  <br>

  <%= link_to 'New Merchant', new_merchant_path %>
</div>
